<section class="min-h-screen bg-neg-bg pt-20 pb-10 px-8">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-center mb-32">
      <div>
        <h1 class="text-5xl font-black text-white mb-8 tracking-tighter leading-none">
          <span class="text-cyber-green">Ikechukwu</span>
          John <span class="text-cyber-green">Chukwu</span>
        </h1>
        <div class="space-y-6 text-zinc-400 text-lg leading-relaxed max-w-xl">
          <p>
            I am a recently was awarded a Double MSc under the Erasmus Mundus Cyber Security project, CyberMACS <a href="https://www.cybermacs.eu" class="text-cyber-green underline">where I specialized in Security, Cryptography, and Coding. I
            feel very fortunate to be advised by <a href="https://www.finki.ukim.mk/en/staff/vesna-dimitrova" class="text-cyber-green underline">Prof. Vesna Dimitrova</a>, as well as co-advised by <a href="https://www.finki.ukim.mk/mk/staff/hristina-mihajloska" class="text-cyber-green underline">Prof. Hristina Mihajloska</a> and <a href="https://www.khas.edu.tr/en/academic-staff/2885/" class="text-cyber-green underline">Prof. TUĞÇE BALLI</a>. Before my MSc, I worked as a software engineer for 1 year, and have a BTech in Mathematics.
          </p>

          <p>
            My passion lies in the intersection of cybersecurity, and cryptography, where I enjoy tackling complex problems and developing innovative solutions.
            Additionally, I enjoy improving my writing and scientific prowess, and have some
            publications in my name.
            <a routerLink="publications" class="text-cyber-green italic">See Publications</a>
          </p>
        </div>
      </div>

      <div class="relative group">
        <div
          class="absolute -inset-1 bg-cyber-green opacity-20 group-hover:opacity-40 transition duration-1000"
        ></div>
        <div class="relative bg-zinc-900 aspect-square overflow-hidden border border-zinc-800">
          <img
            src="assets/images/cover.webp"
            alt="John"
            class="object-cover w-full h-full grayscale hover:grayscale-0 transition-all duration-700"
          />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 border-t border-zinc-900 pt-16 mb-32">
      <div>
        <h2 class="text-xs uppercase tracking-[0.3em] text-cyber-green mb-6">Expertise</h2>
        <ul class="space-y-3 text-zinc-300 font-medium">
          <li class="flex items-center gap-2">
            <span class="size-1 bg-cyber-green"></span> Web Design & Development
          </li>
          <li class="flex items-center gap-2">
            <span class="size-1 bg-cyber-green"></span> Cyber Security
          </li>
          <li class="flex items-center gap-2">
            <span class="size-1 bg-cyber-green"></span> AI/ML
          </li>
          <li class="flex items-center gap-2">
            <span class="size-1 bg-cyber-green"></span> Cryptography
          </li>
          <li class="flex items-center gap-2">
            <span class="size-1 bg-cyber-green"></span> Cloud Security
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-xs uppercase tracking-[0.3em] text-zinc-500 mb-6">Familiar</h2>
        <ul class="space-y-3 text-zinc-400">
          <li>Penetration Testing</li>
          <li>Computer Networking</li>
        </ul>
      </div>

      <div>
        <h2 class="text-xs uppercase tracking-[0.3em] text-zinc-500 mb-6">Tools</h2>
        <div class="flex flex-wrap gap-2">
          @for (tool of ['Python', 'JavaScript', 'TypeScript', 'Angular', 'Linux']; track tool) {
            <span
              class="px-3 py-1 bg-zinc-900 border border-zinc-800 text-zinc-400 text-xs font-mono"
              >{{ tool }}</span
            >
          }
        </div>
      </div>
    </div>

    <div class="mb-32">
      <h2 class="text-xs uppercase tracking-[0.3em] text-zinc-500 mb-12">Credentials</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div
          class="flex items-center gap-6 p-6 border border-zinc-900 bg-zinc-950/50 hover:border-cyber-green transition-colors group"
        >
          <img
            src="assets/images/security.webp"
            class="h-16 w-16 grayscale group-hover:grayscale-0 transition-all"
            alt="CompTia"
          />
          <div>
            <h3 class="text-white font-bold text-xl">CompTIA Security+</h3>
            <p class="text-zinc-500 text-sm italic">
              To be awarded May 2026: Preparing for the exam
            </p>
          </div>
        </div>

        <div
          class="flex items-center gap-6 p-6 border border-zinc-900 bg-zinc-950/50 hover:border-cyber-green transition-colors group"
        >
          <img
            src="assets/images/aws.webp"
            class="h-16 w-16 grayscale group-hover:grayscale-0 transition-all"
            alt="CCNA"
          />
          <div>
            <h3 class="text-white font-bold text-xl">
              <a
                href="https://www.credly.com/badges/e48774c1-124f-40ab-a920-269a54a86b71/public_url"
                target="_blank"
                rel="noopener noreferrer"
                class="transition-colors hover:text-cyber-green"
              >
                AWS Certified Cloud Practitioner (CLF-C02)
              </a>
            </h3>
            <p class="text-zinc-500 text-sm italic">
              Awarded March, 2026
            </p>
          </div>
        </div>

        <div
          class="flex items-center gap-6 p-6 border border-zinc-900 bg-zinc-950/50 hover:border-cyber-green transition-colors group"
        >
          <img
            src="assets/images/btech.webp"
            class="h-16 w-16 grayscale group-hover:grayscale-0 transition-all"
            alt="CCNA"
          />
          <div>
            <h3 class="text-white font-bold text-xl">BTech Mathematics</h3>
            <p class="text-zinc-500 text-sm italic">Awarded February 2018</p>
          </div>
        </div>

        <div
          class="flex items-center gap-6 p-6 border border-zinc-900 bg-zinc-950/50 hover:border-cyber-green transition-colors group"
        >
          <img
            src="assets/images/msc.webp"
            class="h-16 w-16 grayscale group-hover:grayscale-0 transition-all"
            alt="CCNA"
          />
          <div>
            <h3 class="text-white font-bold text-xl">Msc in Security, Cryptography, and Coding</h3>
            <p class="text-zinc-500 text-sm italic">FINKI</p>
            <p class="text-zinc-500 text-sm italic">Awarded October, 2025</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex justify-between items-end mb-12">
        <h2 class="text-xs uppercase tracking-[0.3em] text-zinc-500">Selected Projects</h2>
        <a
          routerLink="/projects"
          class="text-cyber-green text-xs hover:underline uppercase tracking-widest font-bold cursor-pointer"
          >View All</a
        >
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        @for (project of featuredProjects; track project.id) {
          <div
            class="group p-8 border border-zinc-900 bg-neg-bg hover:bg-zinc-50 transition-all duration-500 flex flex-col justify-between"
          >
            <div>
              <div class="flex justify-between items-start mb-4">
                <span class="text-zinc-700 font-mono text-xs group-hover:text-zinc-400"
                  >0{{ project.id }}</span
                >
                @if (project.link) {
                  <a
                    [href]="project.link"
                    target="_blank"
                    class="text-zinc-500 hover:text-cyber-green transition-transform hover:-translate-y-1 hover:translate-x-1"
                  >
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      class="size-5"
                    >
                      <path
                        d="M7 17L17 7M17 7H7M17 7V17"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                }
              </div>

              <h3
                class="text-white group-hover:text-black font-bold text-xl transition-colors italic tracking-tighter"
              >
                // {{ project.title }}
              </h3>

              <p class="text-zinc-500 group-hover:text-zinc-700 text-sm mt-4 leading-relaxed">
                {{ project.description }}
              </p>

              <button
                (click)="project.isOpen = !project.isOpen"
                class="mt-6 flex items-center gap-2 text-[10px] font-black tracking-widest uppercase transition-colors"
                [class.text-cyber-green]="!project.isOpen"
                [class.text-zinc-400]="project.isOpen"
                [class.group-hover:text-black]="!project.isOpen"
              >
                {{ project.isOpen ? 'Less' : 'The Impact' }}
                <svg
                  [class.rotate-180]="project.isOpen"
                  class="size-3 transition-transform"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M19 9l-7 7-7-7"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              @if (project.isOpen) {
                <div
                  class="mt-4 pt-4 border-t border-zinc-200/50 group-hover:border-zinc-300 animate-in fade-in slide-in-from-top-2"
                >
                  <div class="mb-4">
                    <span class="text-[9px] font-bold text-cyber-green uppercase">Problem</span>
                    <p class="text-xs text-zinc-600 leading-snug mt-1">{{ project.problem }}</p>
                  </div>
                  <div>
                    <span class="text-[9px] font-bold text-cyber-green uppercase"
                      >Contribution</span
                    >
                    <p class="text-xs text-zinc-600 leading-snug mt-1">
                      {{ project.contribution }}
                    </p>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
