<footer class="bg-neg-bg border-t border-zinc-900 py-12 px-8">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8">
    <div>
      <div class="text-xl font-black text-white tracking-tighter">
        JOHN.DEV<span class="text-cyber-green">.</span>
      </div>
      <p class="text-zinc-500 text-xs mt-2 uppercase tracking-widest">
        I Build with Angular & Tailwind v4
      </p>
    </div>

    <div class="flex gap-6">
      <a
        href="https://github.com/Iykechuks11"
        target="_blank"
        class="text-zinc-400 hover:text-cyber-green transition-colors duration-300 uppercase text-xs tracking-widest font-bold"
        >Github</a
      >
      <a
        href="https://www.linkedin.com/in/ikechukwu-chukwu-94b184156/"
        target="_blank"
        class="text-zinc-400 hover:text-cyber-green transition-colors duration-300 uppercase text-xs tracking-widest font-bold"
        >LinkedIn</a
      >
      <a
        href="https://x.com/cikechukwujohn"
        target="_blank"
        class="text-zinc-400 hover:text-cyber-green transition-colors duration-300 uppercase text-xs tracking-widest font-bold"
        >Twitter</a
      >

      <a
        href="https://www.youtube.com/@becomin-a-scientist"
        target="_blank"
        class="text-zinc-400 hover:text-cyber-green transition-colors duration-300 uppercase text-xs tracking-widest font-bold"
        >YouTube</a
      >
    </div>

    <div class="text-zinc-600 text-[10px] uppercase tracking-[0.2em]">
      &copy; 2026 All Rights Reserved.
    </div>
  </div>
</footer>
